APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:INSERISCI_LA_TUA_CHIAVE
APP_URL=https://fireflyiii.onrender.com

DB_CONNECTION=pgsql
DB_HOST=INSERISCI_HOST_DEL_DB
DB_PORT=5432
DB_DATABASE=INSERISCI_NOME_DB
DB_USERNAME=INSERISCI_USERNAME
DB_PASSWORD=INSERISCI_PASSWORD

TRUSTED_PROXIES=*
LOG_CHANNEL=stack
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
